/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  color: #6b1a22;
}

h2 {
  font-size: 42px;
  font-weight: strong;
  margin: 40px 10px 15px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #a35766;
  color: #ecdbc9;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item {
  flex: 1;
  margin: 30px;
  justify-content: center;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #83092e;
  padding: 30px 20px 10px 20px;
  text-align: center;
}

.logo {
  font-family: "Tangerine", cursive;
  font-size: 72px;
  color: #ecdbc9;
}

/* newly added */
/*nav {
  display: flex;
  flex-direction: row;
}*/
/* newly added */

/* newly added */
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
}
/* newly added */

header nav ul li {
  list-style-type: none;
  font-size: 28px;
}

header nav ul li:last-child {
  padding-right: 20px;

}

header nav ul li a {
  color: #ecdbc9;
  text-decoration: none;
  padding: 0 0 0 20px;
  margin: 10px;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Join Form ------- */
form {
  border: 2px solid #6b1a22;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #83092e;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #83092e;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

/*Desktop*/
@media all and (min-width: 769px) {
  .logo {
    font-size: 48px;
  }
  body {
    color: rgb(14, 14, 148);
  }
}

/*mobile devices (large)*/
@media all and (max-width: 768px) and (min-width:600px) {
  .logo {
    font-size: 128px;
  }
} /*Font size, etc. no longer looked good below 600px*/

/*mobile devices (small)*/ 
@media all and (max-width: 599px) and (min-width: 320px) { 

} /*google said that 320px was the smallest smartphone you could reasonably 
expect to design for*/

/*smart watches I guess?*/
@media all and (max-width: 320px) {

} 