/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  color: #6b1a22;
}

h2 {
  font-size: 42px;
  font-weight: strong;
  margin: 20px 10px 25px 10px;
  text-align: center;
}

h3 {
  font-size: 30px;
  font-weight: 500;
  margin: 25px;
}

p {
  line-height: 1.5em;
  margin: 0;
  font-size: 27px;
  padding: 0 25px 25px 25px;
  font-weight: 500;
}

ul li {
  line-height: 1.2em;
  font-size: 27px;
  font-weight: 500;
}

section {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

section.alternate-background {
  background-color: #a35766;
  color: #ecdbc9;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

.item-space {
  align-content: space-between;
}

/*
.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
}

.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;
}

.item {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 20px;
  margin-bottom: 20px;
}

.item-double {
  flex: 2;
}

.item-spread {
  justify-content: space-between;
}
*/

.tab {
  margin-left: 50px;
}

/* -------  Navigation ------- */

header {
  background-color: #83092e;
  padding: 30px 20px 10px 20px;
  text-align: center;
}

.logo {
  font-family: "Tangerine", cursive;
  font-size: 72px;
  color: #ecdbc9;
}

/* newly added */
/*nav {
  display: flex;
  flex-direction: row;
}*/
/* newly added */

/* newly added */
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
}
/* newly added */

header nav ul li {
  list-style-type: none;
  font-size: 28px;
  
}

header nav ul li a {
  color: #ecdbc9;
  text-decoration: none;
  /*padding: 0 0 0 20px;*/
  margin: 20px;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Join Form ------- */
form {
  border: 4px solid #6b1a22;
  padding: 10px;
  display: flex;
  flex-direction: column;

  /*align-content: space-between;*/
  /*justify-content: space-between;*/
}

form label {
  font-weight: bold;
  font-size: 28px;
  text-align: left;
}

form select,
form input {
  margin-bottom: 40px;
  width: 300px;
  font-size: 28px;
  float: right;
}

form button {
  background-color: #83092e;
  border: none;
  color: #fff;
  font-size: 42px;
  padding: 20px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #83092e;
  padding: 15px;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

/*Desktop*/
@media all and (min-width: 769px) {
  .group {
    flex-direction: row; 
    justify-content: center;
    align-content: center;
  }
  
  .logo {
    font-size: 48px;
    display: flex;
    flex-direction: row;
    text-wrap: wrap;
    margin: 10px;
    padding: 10px;
  }

  header {
    display: flex;
    flex-direction: row;
    padding: 0px;
  }

  header nav ul li {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;

  }

  h2 {font-size: 32px;}
  h3 {font-size: 22px;}
  p {font-size: 20px;}
  ul li {font-size: 20px;}
  header nav ul li {font-size: 21px;}
  form label {font-size: 21px;}
  form select, form input {font-size: 21px; width: 200px; margin-bottom: 20px;}
  form button {font-size: 32px;}


  /*body {
    color: rgb(14, 14, 148);
  }*/
}

/*mobile devices (large)*/
@media all and (max-width: 768px) /*and (min-width:600px)*/ {
  .logo {
    font-size: 128px;
  }
} /*Font size, etc. no longer looked good below 550px*/

/*mobile devices (small)*/

@media all and (max-width: 550px) { 
  .logo {font-size: 48px;}
  h2 {font-size: 21px;}
  h3 {font-size: 15px;}
  p {font-size: 13px;}
  ul li {font-size: 13px;}
  header nav ul li {font-size: 14px;}
  form label {font-size: 14px;}
  form select, form input {font-size: 14px; width: 150px; margin-bottom: 10px;}
  form button {font-size: 21px;}
 /* body {
    color: rgb(3, 112, 45);
    margin: 5px;
    padding: 0px;
  }*/
}

 /*google said that 320px was the smallest smartphone you could reasonably 
expect to design for*/

/*smart watches I guess?*/
/*
@media all and (max-width: 320px) {
  h2 {font-size: 21px;}
  h3 {font-size: 15px;}
  p {font-size: 13px;}
  ul li {font-size: 13px;}
  header nav ul li {font-size: 14px;}
  form label {font-size: 14px;}
  form select, input {font-size: 14px; width: 200px;}
  form button {font-size: 21px;}
  body {
    color: rgb(109, 4, 158);
    margin: 1px;
    padding: 0px;
  }
} 
*/
